
.container {
    
}

.invitationsContainer {
    overflow-y: scroll;
    max-height: 300px;
}

.invitedStudentRow {
display: flex;
    margin-bottom: 12px;
}

.invitedStudentImageContainer {
margin-right: 15px;
    height: 50px;
}

.invitedStudentImageContainer img {
    height: 48px;
    border-radius: 4px;
}

.invitedStudentDetailsContainer {
    min-width: 49%;
} 

.invitedStudentName {
    font-weight: 700;
    font-size: 18px;
}

.invitedStudentSchool {
    color: #606060;
}

.invitedStudentAppliedContainer {
    text-align: right;
    width: 37%;
    padding-right: 20px;
}

.invitedStudentAppliedContainer img {
    height: 36px;
}

.special {
    color: #0790f0;
    font-weight: 700;
    text-decoration: none;
}