
.container {
    max-width: 1130px;
    margin-top: 30px;
    background-color: white;
    border-radius: 6px;
    border: solid 1px #b8b8b8;
    box-shadow: 0 1px 0 rgba(0,0,0,.03);
    margin: 0 auto;
    margin-top: 40px;
}

.header {
        border-bottom: solid 1px #b8b8b8;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #e7e8ff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.jobRow {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #b8b8b8;
    display: flex;
}

.activeCircle {
    width: 10%;
    color: #74e75d;
}

.awaitingCircle {
     width: 10%;
    color: #dfd615;
}

.closedCircle {
    width: 10%;
    color: #e75d5d;
}

.jobTitleStyle {
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color:black;
}

.jobTypeStyle {
font-size: 15px;
    text-align: left;
    color: #3d3d3d;
}
