
.container {
        border: solid 1px #e0dfdf;
    border-radius: 2px;
}

.questionHeader {
    padding: 15px;
    background-color: #edf0f2;
    border-bottom: solid 1px #e0dfdf;
    font-weight: 500;
}

.questionBody {
padding: 15px;
}