
.headerSection {
    height: 77px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    padding: 12px;
    text-align: left;
    padding-left: 45px;
    padding-right: 45px;

}
.headerJobTitle {
  font-weight: 600;
    font-size: 20px;
}

.headerJobsSelectionContainer {
padding-top: 6px;
    display: flex;
}

.headerNumberJobs {
      color: #3697db;
    font-weight: 300;
}

.headerJobSelectButton {
  margin-left: 12px;

      border: 1px solid #afa3bb;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
    border-radius: 50%;
    height: 21px;
    width: 21px;
    line-height: 21px;
    position: relative;
    top: -1px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: color .3s linear;
    text-decoration: none;
    padding-left: 4px;
}

.headerJobSelectButton:hover {
    background: #f7f8f9;
    border-color: #8b9ca0;
    color: black;
}

.linkStyle {
    font-weight: 200;
    color: #3697db;
}


/* 
 * BODY 
 */

.bodySectionInnerMapRender {
     width: 100%;
    display: flex;
}

.bodySection {
  margin: 25px;
  display: flex;
}

.bodySectionNoJobs {
    margin: 25px;
    font-size: 20px;
    font-weight: 300;
}

.bodySectionColumn {
  width: 50%;
  text-align: left;
    margin-right: 45px;
}

.sectionContainer {
    margin-bottom: 45px;
}

.sectionTitle {
    font-size: 26px;
    font-weight: 100;
}

.sectionTitleAlt {
    font-size: 14px;
    font-weight: 500;
}

.sectionContainerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*
 * Standard Button
 */

.standardButton {
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #3697DB;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin-left: 10px;
    transition: all 100ms ease-out;
    outline: none;
}

.standardButton:hover {
    background-color: #63b7f2;
}

/*
 * Standard Red Button
 */

.standardButtonRed {
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #db3636;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin-left: 10px;
    transition: all 100ms ease-out;
    outline: none;
}

.standardButtonRed:hover {
    background: #ff7878;
}

/*
 * Standard Inactive Button
 */

.standardButtonInactive {
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #777777;
    font-size: 14px;
    color: #e4e4e4;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    margin-left: 10px;
    transition: all 100ms ease-out;
    opacity: 0.6;
    outline: none;
}

.box {
    background: #ffffff;
    border: 1px solid #b2b0b4;
    border-radius: 3px;
    margin: 0 0 20px;
    box-shadow: 0 1px 0 rgba(0,0,0,.03);
    margin-top: 16px;
    padding: 19px;
    font-size: 14px;
}

.altBox {
    background: #cdd0f4;
    border: 1px solid #acacac;
    border-radius: 3px;
    margin: 0 0 20px;
    box-shadow: 0 1px 0 rgba(0,0,0,.03);
    margin-top: 16px;
    padding: 19px;
    font-size: 14px;
}

.comingSoon {
        background-color: #ececec;
    border-radius: 4px;
    color: #757575;
    padding: 28px;
    font-size: 25px;
    font-weight: 100;
}

.twenty {
    font-size:20px;
    font-weight: 400;
}

/*
 * Editable Box
 */

.editableArea {
    color: #1c1c1c;
    width: 100%;
    font-family: 'Roboto';
    padding: 11px;
     resize: none; 
    border-radius: 4px;
    box-sizing: border-box;
    border: solid 1px #d6d6d6;
    background: #f9f9f9;
    font-size: 14px;
}

.editableAreaResizeable {
        color: #1c1c1c;
    width: 100%;
    font-family: 'Roboto';
    padding: 11px;
    border-radius: 4px;
    box-sizing: border-box;
    border: solid 1px #d6d6d6;
    background: #f9f9f9;
    font-size: 14px;
    resize: vertical; 
    min-height: 107px;
}

.editableTitleArea {
    font-size: 25px;
    font-weight: 700;
    color: #1c1c1c;
    width: 100%;
    font-family: 'Roboto';
    padding: 11px;
    resize: vertical;
    border-radius: 4px;
    box-sizing: border-box;
    border: solid 1px #d6d6d6;
    background: #f9f9f9;
}

.saveButtonsContainer {
        margin-top: 25px;
    text-align: center;
}

.reactWidgetStyle {
        margin-top: 10px;
    margin-bottom: 10px;
}

.editableInput {
    color: #1c1c1c;
    width: 75%;
    font-family: 'Roboto';
    padding: 11px;
    border-radius: 4px;
    box-sizing: border-box;
    border: solid 1px #d6d6d6;
    background: #f9f9f9;
    font-size: 14px;
    transition: all 100ms ease-out;
}

.toggleContainer {
        margin-right: 33px;
    padding-top: 10px;
    padding-left: 10px;
}

.flex {
    display: flex;
}

.displayNone {
    display: none;
}

.inlineBlock {
    display: inline-block;
}

.error {
    border: 1px red solid;
    box-shadow: 1px 1px 1px 1px #e8e8e8;
}