.pageContainer {
position: absolute;
    top: 0px;
    bottom: 0px;
    /* left: 20%; */
    right: 0px;
    /* margin-top: 15%; */
    /* margin: 0 auto; */
    left: 87px;
    padding-top: 172px;
}

.pageContainerAlt {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lastPageContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 5%;
}

.input {
  composes: input from 'sharedStyles/styles.css';
  composes: material_1 from 'sharedStyles/material.css';
  border: #908f8f 1px solid !important;
  width: 36vw;
}

.textArea {
  composes: input from 'sharedStyles/styles.css';
  composes: material_1 from 'sharedStyles/material.css';
  border: #908f8f 1px solid !important;
  width: 35vw;
  resize: vertical;
}

.saveBtnContainer {
  display: flex;
  margin-top:10px;
  justify-content: flex-start;
  margin-left: 20%;
}

.saveBtnList {
  padding-top: 8.5px;
  margin-left: 10px;
}

.saveBtn:active {
/*  margin-left: 25%;
  margin-top: 21px;
  border-radius: 3px;
  border: 0;
  background: #3697DB;
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;*/
}

.selectedSaveBtn {
  margin-left: 25%;
  margin-top: 21px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 0;
  background-color: #52A7FA;
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
  margin-right: 14px;
  composes: material_1 from 'sharedStyles/material.css';
  border: #908f8f 1px solid !important;
}

.saveBtn {
  padding: 10px 15px 10px 15px;
  margin-top: 21px;
  border-radius: 3px;
  border: 0;
  background: white;
  font-size: 13px;
  color: black;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
  margin-right: 14px;
  composes: material_1 from 'sharedStyles/material.css';
  border: #908f8f 1px solid !important;
}

.inlineDate {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
  width: 35vw;
  margin-left: 10px;
  composes: material_1 from 'sharedStyles/material.css';
  border: #908f8f 1px solid !important;
}

.navSaveBtn {
  background-color: #54A6FC;
  color: white;
  margin:4px;
}

.navBackBtn {
  background-color: #535760;
  color: white;
  margin:4px;
}

.error {
  border: solid 1px red !important;
   /* make it glow! */
    -webkit-box-shadow: 0px 3px 1px red;
       -moz-box-shadow: 0px 3px 1px red;
            box-shadow: 0px 3px 1px red; /* some variation of blue for the shadow */
}

.alignLeft {
  margin-top: 0;
}

.sampleQuestionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding:10px;
  border-radius:8px;
  background-color: white;
  font-size: 14px;
  text-align: left;
  margin: 0 auto;
  composes: material_1 from 'sharedStyles/material.css';
  border: #908f8f 1px solid !important;
}

.leftDivider {
    width: 60%;
    max-width: 965px;
}

.rightDivider {
    display: flex;
    width: 25%;
    margin-left: 20px;
    background-color: #D6D7D9;
    /* border: solid 2px #A7A8AA; */
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.sectionHeader {
    background-color: #53585E;
  color: white;
  height: 36px;
  font-size: 17px;
  padding-top: 16px;
}

.sectionBody {
background-color: #ECF0EF;
    height: 134px;
    border: solid 1px #BEC2C3;
    padding-left: 60px;
    text-align: left;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.sectionBodyRight {
    background-color: #ECF0EF;
    border: solid 1px #BEC2C3;
    /* padding-left: 60px; */
    text-align: left;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: baseline; */
    height: 100%;
    padding: 18px;
    /* padding-top: 18px; */
}

.sectionBody > div {
    margin-top: 8px;
}

.applicantsjobsCountHeader {
    display: flex;
    font-size: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 61%;
    margin: auto;
    color: #828282;
}

.applicantsjobsCount {
    display: flex;
    font-size: 68px;
    /* font-weight: bold; */
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
        margin-top: 13px;
}

.italics {
font-style: italic;
    padding-left: 13px;
    /* font-weight: normal; */
    color: #53585e;
}

.specialInput {
  background-color: #ECF0EF;
  border: solid 1px black;
  width: 52px;
  height: 20px;
  padding: 4px;
  font-size: 16px;
}
.specialInput::-webkit-inner-spin-button, 
.specialInput::-webkit-outer-spin-button {  
   opacity: 1;
}


.bold {
  font-weight: bold;
}

.reminderContainer {
  border: solid 1px black;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:25px;
}

.detailsLeft {
     width: 40%;
    margin: .5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.detailsRight {
  width: 40%;
  margin: .5%;
}

.detailsHeaderLeft {
  background-color: #84BBF1;
  color: white;
  height: 35px;
  padding-top: 14px;
  border: solid 1px #3598DB;
}

.detailsHeaderRight {
    background-color: #53585E;
    /* width: 20vw; */
    color: white;
    height: 30px;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 22;
    /* margin-bottom: 7px; */
    width: 87%;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.detailsTitle {
margin-bottom: 20px;
}

.detailsBody {
    background-color: #F1F2F4;
    margin: 0 auto;
    width: 87%;
    padding-top: 14px;
    padding-bottom: 12px;
    /* margin-left: 9px; */
    /* padding-left: 17px; */
    /* padding-right: 17px; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.jobIndustry {
  color: #3996D9;
  margin-top: 17px;
  margin-bottom: 17px;
  border: solid #84BBF1 2px;
  display: inline-grid;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;
  padding: 10px;
}

.marginTop {
  margin-top:23px;
}

.table {
  width:100%;
}

.table tbody tr:nth-child(odd) {
   background-color: #e2e2e2
}

.leftPadTableItem {
      text-align: left;
    padding-left: 13%;
}

.textAlignLeft {
  text-align: left;
  padding-left:4px;
}

.buttonsContainer {
  margin-bottom:40px;
}

.responsibilitiesClass {
  height: 175px;
}

.sectionText {
      display: inline-block;
    margin-right: 19px;
}

.sectionText2 {
  display: inline-block;
      margin-right: 90px;
}

.divide {
  padding-left: 9px;
  padding-right: 21px;
  padding-right: 9px;
}

.red {
  color: #c93838;
}

.sectionBodyPremium {
  background-color: #ECF0EF;
    height: 134px;
    border: solid 1px #BEC2C3;
    padding-left: 60px;
    text-align: left;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
      height: 70px;
}

@media only screen and (min-width: 1225px) {
  .reallyTrickyPageContainerContainer {
      margin: 0 auto;
      /* text-align: center; */
      width: 65%;
      padding-bottom: 50px;
  }
}

@media only screen and (max-width: 1224px) {
  .reallyTrickyPageContainerContainer {
      margin: 0 auto;
      /* text-align: center; */
      width: 80%;
      padding-bottom: 50px;
  }
}