.mainContainer {
  background-color: #DDDEE0;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  border: solid 1px #515459;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.selectedCircle {
  background-color: #515459;
}
