.fieldContainer {
    display: flex;
    flex-direction: row;
    justify-content: flext-start;
    margin-top: 8.5px;
    margin-bottom: 8.5px;
}

.formFieldName {
  width: 14.5%;
  height: 20px;
  font-size: 16px;
  color: #52575D;
  padding: 15px;
  font-weight:bold;
  text-align: left;
      min-width: 165px;
}

.formFieldContent {
  width: 100%;
  font-weight: 100;

}

.flexContainer {
  border: 1px solid black;
  list-style: none;
  margin: 0px;
  padding: 0px;
  align-items: flex-start;

  /* For Safari */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  
  /* Chrome */
  display: flex;
  flex-direction: row;
}

.flexTitle {
  font-size: 18px;
  color: #5257D;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
}

