{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
    "es6": true,
        "node": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true,
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules","app"]
            }
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 0,
        "quotes": 0,
        "no-unused-vars": 0,
        "camelcase": 0,
        "no-underscore-dangle": 0
    }
}
