.profileContainer {
  width: 630px;
  text-align:center;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 3%;
}

.profileHeader {
  font-size:30px;
  margin-bottom:20px;
}

.profileField {

}


.profileFieldName {
  width: 21%;
  height: 20px;
  font-size: 18px;
  color: #52575D;
  padding: 15px;
  display:inline-block;
}

.profileFieldContent {
  width: 75%;
  display:inline;
}

.input {
  composes: input from 'sharedStyles/styles.css';
  width: 50%;
}

.textarea {
  composes: input from 'sharedStyles/styles.css';
  width: 50%;
  resize: vertical;
}

.btn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #3697DB;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0 auto;
    width: 156px;
    margin-left: 7px;
}

.dropzone {
      width: 165px;
    height: 165px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
    display: inline-block;
    color: #53585E;
}

.dropzoneContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    width: 100%;
  height: 100%;
}

.photoIcon {
  font-size: 68px;
}

.resetBtnContainer {
  width: 50%;
  display:inline-block;
  text-align:left;
}

.saveBtnContainer {
  width: 100%;
  display:inline-block;
  text-align:center;
  margin-left:13%;
  margin-top:18px;
}

.saveBtn {
  margin-left: 25%;
  margin-top: 21px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 0;
  background: #3697DB;
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
}

.inlineDropzone {
  width: auto;
  height: auto;
  border: none;
  border-radius: 0px;
  display: inline-block;
}

.comboBox {
  composes: input from 'sharedStyles/styles.css';
  width: 50%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: black !important;
}

.comboBox > input {
  color: black !important;
}

.city {
  width:29%;
}

.postalcode {
  width: 19%;
}

.citypostalcoderelative {
  position: relative;
  top: -16px;
}

.dropPoint {
      height: 165px;
    width: 165px;
    position: absolute;
}

.error {
  border: solid 1px red !important;
   /* make it glow! */
    -webkit-box-shadow: 0px 3px 1px red;
       -moz-box-shadow: 0px 3px 1px red;
            box-shadow: 0px 3px 1px red; /* some variation of blue for the shadow */
}

.industryMargin {
      margin-bottom: 15px;
}
