.profileContainer {
  width: 630px;
  text-align:center;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 3%;
}

.profileHeader {
  font-size:30px;
  margin-bottom:20px;
}

.profileField {

}


.profileFieldName {
  width: 21%;
  height: 20px;
  font-size: 18px;
  color: #52575D;
  padding: 15px;
  display:inline-block;
}

.profileFieldContent {
  width: 75%;
  display:inline;
}

.input {
  composes: input from 'sharedStyles/styles.css';
  width: 75%;
}

.textArea {
  text-align: left;
  width: 75%;
  height: 25vh;
  font-size: 2.5vh;
  padding: .5em 1em;
  margin: 8px;
  border: 2px dashed rgb(102, 102, 102);
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  font: inherit;

}

.dropzone {
    width: 165px;
    height: 165px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
    display: inline-block;
    color: #53585E;
}

.dropzoneContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.photoIcon {
  font-size: 68px;
}

.resetBtnContainer {
  margin: 8px;
  width: 50%;
  display:inline-block;
  text-align:left;
}

.saveBtnContainer {
  width: 100%;
  display:inline-block;
  text-align:center;
  margin-left:13%;
  margin-top:18px;
}

.saveBtn {
  margin-left: 25%;
  margin-top: 21px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 0;
  background: #3697DB;
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
}

.inlineDropzone {
  width: auto;
  height: auto;
  border: none;
  border-radius: 0px;
  display: inline-block;
}

.comboBox {
  composes: input from 'sharedStyles/styles.css';
  width: 75%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: black !important;
}

.comboBox > input {
  color: black !important;
}

.city {
  margin: 8px;
  width: 206px;
}

.postalcode {
  width: 114px;
}

.citypostalcoderelative {
  position: relative;
}

.dropPoint {
      height: 165px;
    width: 165px;
    position: absolute;
}

.error {
  border: solid 1px red !important;
   /* make it glow! */
    -webkit-box-shadow: 0px 3px 1px red;
       -moz-box-shadow: 0px 3px 1px red;
            box-shadow: 0px 3px 1px red; /* some variation of blue for the shadow */
}

.industryMargin {
      margin-bottom: 15px;
}

.profilePictureDragDrop {
    color: #43a0c5 !important;
    border: 2px solid #43a0c5 !important;
    background-color: white !important;
    box-shadow: 1px 1px 15px #43A0C5 !important;
    transition: all 0.3s ease-out;
}
