
.mobileStudentProfileBreadCrumbsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 40px;
}

.uncompletedNode {
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 1px #949595;
    cursor: pointer;
}

.completedNode {
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 1px #1ea9d2;
    cursor: pointer;
}

.completedNode i {
        color: #1ea9d2;
    font-size: 14px;
    position: relative;
    top: -2px;
}

.completedLine {
        /* position: absolute; */
    position: inherit;
    width: 8%;
    height: 2px;
    background-color: #1ea9d2;
    position: relative;
    top: 10px;
}

.incompleteLine {
        /* position: absolute; */
    position: inherit;
    width: 8%;
    height: 2px;
    background-color: #949595;
    position: relative;
    top: 10px;
}