.profileFieldName {
  width: 21%;
  height: 20px;
  font-size: 18px;
  color: #52575D;
  padding: 15px;
  display:inline-block;
}

.profileFieldContent {
  width: 75%;
  display:inline;
}

.flexContainer {
    display: flex;
	margin: 0px;
	padding: 0px;
	align-items: flex-start;

	/* For Safari */
	display: -webkit-flex;
	-webkit-flex-direction: row;
	
	/* Chrome */
	display: flex;
	flex-direction: row;
}

.flexTitle {
	font-size: 18px;
	color: #5257D;
	padding-left: 20px;
	padding-right: 10px;
	text-align: left;
}

