.pageContainer {
    /* width: 1000px; */
    text-align: center;
    /* margin: auto; */
    /* margin-top: 4%; */
    margin-bottom: 3%;
    margin-top: 38px;
    /* width: 88%; */
    /* margin-left: 96px; */
    display: flex;
    flex-direction: row-reverse;
    /* width: 20%; */
    margin: 0 auto;
    width: 75%;
    padding-left: 89px;
}

.pageItemsContainer {
    margin: 0 auto;
    margin-top: 3%;
}

.profileHeader {
	font-size: 30px;
	margin-bottom: 20px;
}


.shortInput {
  composes: input from 'sharedStyles/styles.css';
  width: 300px;
}

.nameField {
	padding-right: -15%;
}

.emailField {
	width: auto;
	display: inline-blocks;
}


.dropDown {
	composes: input from 'sharedStyles/styles.css';
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	color: black !important;
}


.shortDropDown {
	composes: input from 'sharedStyles/styles.css';
	width: 200px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	color: black !important;
}

.mediumDropDown {
	composes: input from 'sharedStyles/styles.css';
	width: 300px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	color: black !important;
}

.longDropDown {
	composes: input from 'sharedStyles/styles.css';
	width: 550px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	color: black !important;
}

.dropzone {
    width: 165px;
    height: 165px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
    display: inline-block;
    color: #53585E;
}

.dropzoneContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    width: 100%;
  height: 100%;
}

.inlineDropzone {
  width: auto;
  height: auto;
  border: none;
  border-radius: 0px;
  display: inline-block;
}


.saveBtnContainer {
  width: 100%;
  text-align:center;
}

.saveBtnList {
	padding-left: 20px;
	padding-top: 8.5px;
}

.saveBtnClicked {
  margin-left: 25%;
  margin-top: 21px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 0;
  background: #3697DB;
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
  margin-right: 13px;
  outline: none
}

.saveBtnClicked:hover {
  margin-left: 25%;
  margin-top: 21px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 0;
  background: #73b1dc;
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
  margin-right: 13px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    outline: none
}

.unselectedButton {
      
    margin-left: 25%;
    margin-top: 21px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    font-size: 13px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0 auto;
    width: 156px;
    margin-right: 13px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    border: #908f8f 1px solid !important;
    background-color: #f4f4f4;
    color: black;
    outline: none
}

.unselectedButton:hover {
  background-color:white;
  outline: none
}

.notActive {
background-color: #e2e3e6 !important;
outline: none
}

.personalEmailStyle {
      width: 281px;
}
    


.saveBtn {
  margin-left: 25%;
  margin-top: 21px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 0;
  background: white;
  font-size: 13px;
  color: black;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
  margin-right: 13px;
  outline: none
}

.saveBtn:hover {
  border: #908f8f 1px solid !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-left: 25%;
  margin-top: 21px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 0;
  background: #3697DB;
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
  margin-right: 13px;
  outline: none
}

.space {
  padding-left: 10px;
  padding-right: 5px;
}

.hideInput {
    display: none;
}

.showInput {
    display: inherit;
}

.textArea {
    composes: input from 'sharedStyles/styles.css';
    height: 97px;
    resize: none;
    width: 470px;
}

.profilePictureDragDrop {
    color: #43a0c5 !important;
    border: 2px solid #43a0c5 !important;
    background-color: white !important;
    box-shadow: 1px 1px 15px #43A0C5 !important;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.profilePictureDragDropAlt {
    color: #43a0c5 !important;
    border: 2px solid gray !important;
    background-color: white !important;
    /* box-shadow: 1px 1px 15px #43A0C5 !important; */
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.savedResumeView {
      width: 165px;
    height: 165px;
    /* border: 2px dashed rgb(102, 102, 102); */
    border-radius: 5px;
    display: inline-block;
    color: #53585E;
    /* border: solid 2px rgb(102,102,102); */
    background-color: #3697DB;
    color: white;
    cursor:pointer;
}
.actualSaveBtn {
    position: relative;
    top: 33px;
    margin-bottom: 43px;
    width: 286px;
    height: 46px;
    background-color: #3697db;
    color: white;
    /* border: solid 1px grey; */
    border: #606060 1px solid !important;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.actualSaveBtn:hover {
    position: relative;
    top: 33px;
    margin-bottom: 43px;
    width: 286px;
    height: 46px;
    background-color: rgb(85, 171, 232);
    color: white;
    /* border: solid 1px grey; */
    border: #606060 1px solid !important;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor:pointer;
}

.materialStyle {
  composes: material_1 from 'sharedStyles/material.css';
  border: #908f8f 1px solid !important;
}


.editHoverSection {
    height: 100%;
    background-color: #5e5e5e;
    width: 50%;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    color: white;
    display: inline-block !important;
}

.editHoverSection > div {
      height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.deleteHoverSection {
    height: 100%;
    background-color: black;
    width: 50%;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    display: inline-block !important;
    color: white;
}

.deleteHoverSection > div {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.hoverSectionContainer {
  display: block !important;
  width: 100%;
  height: 100%;
  transition:0.2s ease-in;
  opacity: 0;
}

.hoverSectionContainer:hover {
  display: block !important;
  width: 100%;
  height: 100%;
  transition:0.2s ease-in;
  opacity: 1;
}
