.employerCenteredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-image: url("https://raw.githubusercontent.com/UnivJobs/univjobs-front/2f2b10f0aad76a85a5a643cdcdb07697af1370d3/images/front/meeting.jpg");
}

.header {
  text-align: center;
  composes: header from 'sharedStyles/styles.css';
}

.subHeader {
  text-align: center;
  composes: subHeader from 'sharedStyles/styles.css';
  margin:30px;
}

.btn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #3697DB;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    min-height: 37px;
}

.modalContent {
  font-size: 14px;
}

.modal h2 {
  font-size: 40px;
}

.input {
    width: 47%;
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        color: inherit;
    font: inherit;
    min-height: 37px;
}

.errorMessage {
  font-size:13px;
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 19px;
}
