/*NOTE:
 *  - Media queries found below
 *  - New code has not been tested using Safari or Edge
 *  - Porting from index to specific component not been tested
 *  - CSS modules id's are unknown to me  at this moment
 *
 *  */

/*FIXME: 
 * - Redundant code for studentSignup.css & this css file has similar strucure except for background-image
 * - Port index.html code into each associated components
 *
 * */

.employerCenteredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    background-size: cover;
    background-image: url("https://univjobs.ca/assets/images/front/employerfrontimage.png");

    /*NOTE: overflow seems to fix the error I encountered on the phone from showing the gray background*/
    overflow: hidden;
}

.header {
  text-align: center;
  composes: header from 'sharedStyles/styles.css';
  text-shadow: 2px 2px #8eb0c3;
}

.subHeader {

  composes: subHeader from 'sharedStyles/styles.css';
  text-align: center;
    margin: 30px;
    font-weight: 300;
}

.btn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #3697DB;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    min-height: 37px;
    font-weight: 700;

}

.modalContent {
  font-size: 14px;
}

.modal h2 {
  font-size: 40px;
}

.input {
width: 80%;
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    min-height: 37px;
}

.errorMessage {
  font-size:13px;
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 19px;
}


.overlayStyles: {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    zIndex: 99;
    background-color: rgba(0,0,0,0.3)
}

.dialogStyles: {
    height: 400px;
    font-size: 30px;
    background-color: #fff;
    border-radius: 2px;
    z-index: 100;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    position: absolute;
    top: none;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 537px;
    margin-left: 0px;
    text-align: center;
}


/* ===========================================Media Queiries===================================*/
/*  TIDBIT: Start from the smallest screen and work your way up as a best practice
 *
 *
 */

/*=== min-width of 360px and breakpoint change to max-width of 412 ===*/

@media (max-width: 525px) {
  .header {
    font-size: 80px;
  }
}


@media (min-width: 200px) and (max-width: 412px) {

    .employerCenteredContainer {
        min-height: 500px;
    }

    .header {
        text-align: center;
        font-size: 58px;
        font-weight: 600;
        color: white;
    }

    .subHeader {
      text-align: center;
      font-size: 15px;
      font-weight: 300;
      color: white;
      margin-bottom:40px;
    }

    .btn {
        margin-top: 40px;
        padding: 10px 15px 10px 15px;
        border-radius: 3px;
        border: 0;
        background: #3697DB;
        font-size: 1.0em;
        color: white;
        cursor: pointer;
        margin: 0 auto;
        min-height: 37px;
    }

    .dialogStyles: {
        display: flex !important;
        flex-direction: column !important;
        width: 100%;
    }


}

/*

@media (min-width: 1200px) {
    .container {
        width: ;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}


@media (min-width: 768px) {
    .container {
        width: 750px;
}


*/
