.input {
    width: 79%;
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        color: inherit;
    font: inherit;
    min-height: 37px;
    font-size: 18px;
}

.backgroundStyleFallback {
background: linear-gradient(#52a7fa, #406fbe);
}



/* Remove the Chrome auto-complete yellow styling */
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.loginBtn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #3697DB;
    font-size: 1.0em;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    min-height: 37px;
    width: 79%;
}

.errorMessage {
  font-size:13px;
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 19px;
}

.passwordRst {
    font-size: 13px;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
}

.legal {
    font-size: 13px;
    color: white;
    margin-top: 15px;
    font-weight: 400;
    line-height: 18px;
    white-space: normal;
        margin-left: 23px;
    margin-right: 24px;
}

.white {
    color: white;
}

.legalEmployer {
    font-size: 13px;
    color: #919399;
    margin-top: 15px;
    font-weight: 400;
    line-height: 18px;
    white-space: normal;
}

.gray {
    color: gray;
}

.passwordContainer {
    
}

.passwordQualifications {

}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    top: -66px;
    left: 13px;
    font-size: 14px;
}

/* Tooltip text */
.tooltip .tooltiptext {
        visibility: visible;
    width: 268px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    padding: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.good {
    padding-right: 8px;
    color: #43e600;
}

.bad {
    padding-right: 8px;
    color: #e6008a;
}

.hidden {
    opacity: 0;
    width: 268px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    padding: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}