/*NOTE:
 *  - Media queries found below
 *  - New code has not been tested using Safari or Edge
 *  - Porting from index to specific component not been tested
 *  - CSS modules id's are unknown to me  at this moment
 *
 *  */

/*FIXME: 
 * - Redundant code for studentSignup.css & this css file has similar strucure except for background-image
 * - index.html media queiries shoul
 *
 * */


.studentCenteredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 700px;
    align-items: center;
    background-size: cover;
    background-image: url("https://univjobs.ca/assets/images/front/coffeelaptop.jpg");

    /*NOTE: overflow seems to fix the error I encountered on the phone from showing the gray background*/
    overflow: hidden;
}


.header {
  text-align: center;
  composes: header from 'sharedStyles/styles.css';
    text-shadow: 2px 2px #8eb0c3;
}

.subHeader {
  text-align: center;
  composes: subHeader from 'sharedStyles/styles.css';
  margin-bottom:40px;
}

.btn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #3697DB;
    font-size: 1.0em;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    min-height: 37px;
}

.input {
    width: 300px;
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        color: inherit;
    font: inherit;
    min-height: 37px;
}

/* Remove the Chrome auto-complete yellow styling */
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorMessage {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 19px;
    /* display: flex; */
    width: 400px;
    background-color: #fa5252;
    padding: 20px;
    border-radius: 18px;
    transition: 0.2s ease-out;
}

/* ===========================================Media Queiries===================================*/
/*  TIDBIT: Start from the smallest screen and work your way up as a best practice
 *
 *
 */

/*=== min-width of 360px and breakpoint change to max-width of 412 ===*/
@media (min-width: 360px) and (max-width: 412px) {

    .studentCenteredContainer {
        min-height: 500px;
    }

    .header {
          text-align: center;
    font-size: 64px;
    font-weight: 600;
    color: white;
    }

    .subHeader {
          text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
    }

    .legal {
            font-size: 13px;
    color: white;
    margin-top: 15px;
    font-weight: 400;
    line-height: 18px;
    white-space: normal;
    margin-left: 36px;
    margin-right: 36px;
    
    }

    .btn {
        margin-top: 40px;
        padding: 10px 15px 10px 15px;
        border-radius: 3px;
        border: 0;
        background: #3697DB;
        font-size: 1.0em;
        color: white;
        cursor: pointer;
        margin: 0 auto;
        min-height: 37px;
    }


}

/*

@media (min-width: 1200px) {
    .container {
        width: ;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}


@media (min-width: 768px) {
    .container {
        width: 750px;
}


*/
