/*NOTE: Quick fix*/
body {
    right: -111px !important;
}

/*FIXME: studentCenteredContainer & employeredCenteredCOntainer has similar strucure eexcept for background-image*/
.studentCenteredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-image: url("https://github.com/UnivJobs/univjobs-front/blob/master/images/front/coffeelaptop.jpg?raw=true");
}


.header {
  text-align: center;
  composes: header from 'sharedStyles/styles.css';
}

.subHeader {
  text-align: center;
  composes: subHeader from 'sharedStyles/styles.css';
  margin-bottom:40px;
}

.btn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #3697DB;
    font-size: 1.0em;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    min-height: 37px;
}

.input {
    width: 300px;
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        color: inherit;
    font: inherit;
    min-height: 37px;
}

/* Remove the Chrome auto-complete yellow styling */
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorMessage {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 19px;
    /* display: flex; */
    width: 400px;
    background-color: #fa5252;
    padding: 20px;
    border-radius: 18px;
    transition: 0.2s ease-out;
}
