
.applicantSidebarContainer {
        width: 35%;
    position: absolute;
    bottom: 0px;
    background: white;
    top: 122px;
    right: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hide {
    display: none;
}