
/*
 * Use 'applicantCardContainer' to wrap each card.
 */

.applicantCardContainer {
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    display: flex;
    margin-bottom: 20px;
    height: 115px;
    max-width: 644px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        min-width: 554px;
    cursor: pointer;
} 

/*
 * Use the 'selectedCard' class when we select a card and we're showing it
 * in the rightside sidebar.
 */
 
.selectedCard {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.applicantImageContainer {
width: 20%;
} 

.applicantImageContainer img {
    width: 72px;
    height: 72px;
    margin: 22px;
}

.applicantDetailsContainer {
    text-align: left;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 70%;
} 

.applicantNameText {
font-size: 20px;
} 

.applicantSchoolText {
    font-size: 13px;
    color: #808080;
}

.applicantMajorText {
font-size: 14px;
}

.applicantButtonCorner {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 10%;
    font-size: 22px;
    color: #989b9e;
}

/*
 * A multiselected card is a card that is
 * selected in the multiselect view. A group action
 * can be performed on multiselected cards.
 *
 * - reject
 * - advance
 * - deselect
 */

.multiselectedCard {
    border: solid 2px #007ac1;
}

.multiselectedCard i {
    color: #007ac1;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.multiselectedCard i:hover {
    color: #83b9d9;
}