
.dashboardListItemContainer {
    background: white;
    margin: 20px;
    min-height: 132px;
    border-radius: 3px;
    border-radius: 6px;
    border: solid 1px #b8b8b8;
    box-shadow: 0 1px 0 rgba(0,0,0,.03);
    display: flex;
        padding-left: 15px;
    padding-right: 15px;
        min-width: 548px;

        border-bottom: solid 2px #b8b8b8;
} 

.infoSectionContainer {
    text-align: left;
    /* margin-top: 15px; */
    /* margin-left: 47px; */
    font-size: 22px;
    font-weight: 500;
    /* margin-bottom: 15px; */
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titleText {}

.jobTypeText {
    font-size: 15px;
    font-weight: 300;
    color: #747474;
}




 .dashboardListItem {

  }

  .dashboardListItemHeader {

  }

  /*
  * ======== NODES =======
  */

  .stateSectionContainer  {
width: 55%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

  .statesContainer {
display: flex;
    flex-direction: column;
    width: 100%;
  }
  .stateNodes {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 23px;
    margin-right: 9px;
    min-height: 25px;
  }

  .stateNodes a {
        min-width: 0px;
    min-height: 0px;
  }
  
  .node {
    height: 15px;
    width: 15px;
    border-radius: 40px;
        cursor: pointer;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.2);
  }

  .node1 {
            background-color: #abefff;
  }

  .node2 {
    background-color: #4dc0dd;
  }

  .node3 {
       background-color: #0e585f;
  }
  
  .line {
height: 2px;
    background: #bcbcbc;
    width: 34%;
  } 
  
  .nodeCounts{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nodeCountSection {
    padding-top: 5px;
  } 

  .appRelativeStyle {
    position: relative;
    left: 16px;
  }

  .contactRelativeStyle {
    position: relative;
    left: 9px;
  }

  
  .nodeTypeName {
          font-weight: 400;
    font-size: 13px;
  }
  .nodeValue {}

  .button {
    padding: 7px 11px 7px 10px;
    border-radius: 3px;
    border: 0;
    background: #35acff;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    /* margin-left: 10px; */
    transition: all 100ms ease-out;
    outline: none;
    margin-right: 4px;
  }

  .currentPageText {
        color: black;
    font-weight: bold;
  }