
 /*
  * ======================================
  *        MY APPLICANTS DASHBOARD 
  * ======================================
  */

  .smallHeader {
          text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #4b4a4c;
  }

  .dashboardListContainer {
    margin: 40px;
  }

  .dashboardListItem {
    width: 60%;
    background: white;
    margin: 20px;
    min-height: 104px;
    border-radius: 3px;
    border-radius: 6px;
    border: solid 1px #b8b8b8;
    box-shadow: 0 1px 0 rgba(0,0,0,.03);
  }

  .dashboardListItemHeader {
          text-align: left;
    margin-top: 15px;
    margin-left: 47px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
  }