

.recentActivityContainer {
background: white;
    margin: 20px;
    min-height: 132px;
    border-radius: 3px;
    border-radius: 6px;
    border: solid 1px #b8b8b8;
    box-shadow: 0 1px 0 rgba(0,0,0,.03);
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid 2px #b8b8b8;
    width: 100%;
}

.card {
    padding: 7px;
    margin-top: 13px;
    border-radius: 3px;
    border-radius: 6px;
    border: solid 1px #b8b8b8;
    box-shadow: 0 1px 0 rgba(0,0,0,.03);
    border-bottom: solid 2px #b8b8b8;
    width: 100%;
    margin-bottom: 13px;
    font-size: 14px;
    text-align: left;
    padding: 14px;
    color: black;
    background: white;
}

/* when someone applies to a job or accepts an invite and applies*/
.cardType1 {
    /* background-color: #b38eee;
    color: white; */
}

/* when someone is moved into the contact pool */
.cardType2 {
    /* background-color: #92d5e6;
    color: white; */
}

/* when someone is hired*/
.cardType3 {
    /* background-color: #9cea89;
    color: white; */
}

/* when someone is rejected */
.cardType4 {

}

.end {
        font-size: 14px;
    color: white;
    background: #414a51;
}

.activityTime {
    text-align: right;
    font-size: 12px;
    color: #949494;
    margin-top: 6px;
}