
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.title {
  text-align:center;
}

.mainContainer {
  background-color: #DDDEE0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 87px;
}

.category {
  height: 226px;
  width: 26vw;
  position: relative;
  margin: 19px;
  flex-shrink: 4;
  color: white;
}

.categoryText {
  position:absolute;
  bottom:0px;
}

.headingStyle {
  text-align: left;
  padding-left: 18px;
  padding-right: 18px;
}

.subHeadingStyle {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

