
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  max-width: 1400px;
  margin: auto;
  padding-bottom: 62px;
}

.title {
  text-align:center;
}

.mainContainer {
  background-color: #DDDEE0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 87px;
}

.category {
  height: 226px;
  width: 338px;
  position: relative;
  margin: 19px;
  flex-shrink: 4;
  color: white;
  overflow:hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.categoryText {
    position: absolute;
    height: 119px;
    top: 106px;
}

.category:hover {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position:relative;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  height: 236px;
  width: 348px;
}

.category:hover > img {
  height: 236px;
  width: 348px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.category:not(:hover) {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.category:not(:hover) > img{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.headingStyle {
  text-align: left;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom:0px;
  font-size: 32px;
  font-weight: 900;
  margin-top: 0px;
  color: white;
}

.subHeadingStyle {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 3px;
  font-weight: bold;
  color: #d1ffe6;
  font-size: 20px;
}

.images {
      height: 226px;
    width: 338px;
}

.campusSpacing {
      top: 78px;
}

