/*NOTE: Pretty much a copy of EmpDashStyles
 *
 * */

/*Copied to sharedStyles.css*/
.margins {
  margin-left: 3%;
  margin-right: 3%;
}

/*Copied to sharedStyles.css*/
.pageHeaderSection {

}

/*Copied to sharedStyles.css*/
.pageTitle {

}


/*Copied to sharedStyles.css*/
.title {
  font-size:37px;
}


.pageMainStudentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input {
  composes: input from 'sharedStyles/styles.css';
}

.campusDropdown {
  flex-grow: 2;
}

.gradDateDropdown {
  flex-grow: 2;
}

.filtersDivider {
  flex-grow: 10;
}

