/*cardContainer
 *
 *This css class enables 3 * 3 cards to show up per row
 * */

.flexibleCardContainer {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1215px;
}
