.loadingFlexibleContainer {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1215px;
}

