/*NOTE:
 *
 * Most of the classes in here are commonly used throughtout most components
 *
 * */


/*NOTE:
 *
    root component container should be used in the enclosing div
    for any react functional stateless component because it perfectly takes
    up the other real-estate on the page given that there is a sidebar (with a
    width of 87 pixels).
*/
.rootComponentContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 87px;
    right: 0px;
}

.margins {
    margin-left: 3%;
    margin-right: 3%;
}


/*AKA pageHeaderSection*/
.marginBottom {
  margin-bottom: 60px;
}

/*NOTE: Maybe modularize this to text.css*/
.title {
  font-size:37px;
}


/*NOTE: Thanks for referrencing this! 
 * I believe it's good practice to do this!
 * 
 * Check out this hack: http://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid
    Doing this to be able to align the last row to the grid.
*/

.overflowFix {
  list-style: none;
  margin: 10px;
  padding: 0px;
  align-items: flex-start;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

