/*NOTE:
 *
 * Most of the classes in here are commonly used throughtout most components
 *
 * */


/*NOTE:
 *
    root component container should be used in the enclosing div
    for any react functional stateless component because it perfectly takes
    up the other real-estate on the page given that there is a sidebar (with a
    width of 87 pixels).
*/
.rootComponentContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 87px;
    right: 0px;
}



.margins {
    margin-left: 3%;
    margin-right: 3%;
}


/*AKA pageHeaderSection*/
.marginBottom {
   padding-top: 20px;
  margin-bottom: 60px;
}

/*NOTE: Maybe modularize this to text.css*/
.title {
  font-size:37px;
}


/*NOTE: Thanks for referrencing this! 
 * I believe it's good practice to do this!
 * 
 * Check out this hack: http://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid
    Doing this to be able to align the last row to the grid.
*/

.overflowFix {
  list-style: none;
  margin: 10px;
  padding: 0px;
  align-items: flex-start;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
}


.cardContainer {
    list-style: none;
    margin-top: 20px;
    padding: 0px;
    align-items: flex-start;
    width: 340px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-top: solid 3px #3f95d0;
}

.comboBox {
  composes: input from 'sharedStyles/styles.css';
  composes: material_1 from 'sharedStyles/material.css';
  width: 75%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: black !important;
  border: #908f8f 1px solid !important;
}

.comboBox > input {
  color: black !important;
}

.cancelButton {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #7c8890;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0 auto;
    width: 121px;
    margin-left: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-out;
}

.cancelButton:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.confirmButton {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #61b8f5;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    width: 121px;
    margin-left: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-out;
}

.confirmButton:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.buttonsContainer {
    position: absolute;
    bottom: 31px;
    width: 100%;
}

.userProfileAdviceTitle {
    font-weight: bold;
}

.userProfileAdviceTitleAlt {
        font-weight: bold;
    font-size: 20px;
    margin-bottom: 14px;
}

.userProfileAdviceBody {
    padding: 10px;
}

.userProfileAdviceBodyAlt {
    padding: 30px;
    font-size:15px;
    text-align: left;
}

.cancelBtn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #7c8890;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0 auto;
    width: 121px;
    margin-left: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-out;
}

.badBtn {
        margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #db3636;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0 auto;
    width: 121px;
    margin-left: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-out;
}

.badBtn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: #e26d6d;
}


.acceptBtn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #3697DB;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0 auto;
    width: 121px;
    margin-left: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-out;
}

.cancelBtn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.acceptBtn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #61b8f5;
}

.bold {
    font-weight: bold;
}

.boldHeader {
    font-weight: bold;
    margin-bottom: 26px;
}

@media (max-width: 600px) {
    .rootComponentContainer {
        position: initial;
    }
}

@media (max-width: 500px) {
    .marginBottom {
        margin-left: 10px;
        margin-right: 10px;
    }
}