.centeredPage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  font-size: 100px;
  font-weight: 700;
  color: white;
}

.subHeader {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.input {
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        color: inherit;
    font: inherit;
}

/* SIDEBAR STYLES */
.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 87px;
  background-color: #414A51;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index:30;
}

.sidebarLogo {
  position: absolute;
    top: 30px;
    left: 21px;
    color: white;
} 

.sidebarItemsContainer {
  width: 100%;
  text-align: center;
}

.sidebarItem {
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 29px;
  border-top: solid #707980 1px;
  cursor: pointer;

}
.sidebarItem:nth-of-type(6) {
  border-bottom: solid #707980 1px;
}
.profileImg {
  width: 66px;
}

/*** MAIN CONTENT CONTAINER ***/

.container {
  background-color: #DDDEE0;
  display: flex;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 87px;
}

