.noDecoration {
  text-decoration: none;
}

.centeredPage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  font-size: 100px;
  font-weight: 700;
  color: white;
}

.subHeader {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.input {
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        color: inherit;
    font: inherit;
}


/*** MAIN CONTENT CONTAINER ***/

.container {
  background-color: #DDDEE0;
  display: flex;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 87px;
}







