/*widgets.css
 *
 * Contains consistent styles for react-widgets, inputs.
 * Basically, anything that are a parent object of: 
 *  - buttons
 *  - inputs
 * */

/*=============================BUTTONS================================*/
.buttonContainers {
   display: flex;
   webkit-flex-direction: row; /* Safari */
   flex-direction: row;
}

.crossHair {
    cursor: pointer;
}
    
.btn {
  margin-top: 40px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 0;
  background: #3697DB;
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 0 auto;
  width: 156px;
  margin-left: 7px;
}

     
.maxButton {
	background-color: #229AD6;
    border: none;
    padding: 15px 32px;
	width: 100%;
    text-align: center;
	text-decoration: none;
    color: white;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.editButton {
	background-color: #229AD6;
	margin-left: 1px;
    border: none;
    padding: 15px 32px;
	width: 100%;
    text-align: center;
	text-decoration: none;
    color: white;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}




/*=============================INPUTS================================*/
.input {
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        color: inherit;
    font: inherit;
}



/*=====================COMBO BUTTON & INPUTS===================*/
/*comboBox
 *
 * Search and dropdown button
 * */
.pageFiltersAndSearch { 
    display: flex;
    flex-direction: row;  
    align-items: center; 
    margin-left: 25px; 
    margin-right: 25px;
}


/* =====================================

*/

.univjobsButton {
    background-color: white;
    border: none;
    color: #5396E4;
    font-weight: bold;
    font-size: 13px;
    width: 109px;
    height: 51px;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-in;
    margin: 0 auto;
}

.univjobsButton:hover {
    background-color: #5396E4;
    color:white;
}

.univjobsButton:hover a {
    color:white;
}

.univjobsButtonInactive {
    border: none;
    font-weight: bold;
    font-size: 13px;
    width: 109px;
    height: 51px;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-in;
    margin: 0 auto;
    background: #e4e4e4;
    color: white;
}

.whiteTxt {
    color: white !important;
    text-decoration: none;
}