/*NOTE:
 *  - Media queries found below
 *  - New code has not been tested using Safari or Edge
 *  - Porting from index to specific component not been tested
 *  - CSS modules id's are unknown to me  at this moment
 *
 *  */

.flexFooter {
    background-color: #2A2D34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-bottom: 0px;
}

.flexFooterRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
}

.flexMediaItems {
   margin: 0px 20px 0px 0px; 
   cursor: not-allowed;
}


.header {
    color: white;
    font-size: 1.6em;
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 10px;
}

.link {
    text-decoration: none;
    margin: 0;
    color: #229AD6; 
}

.spacer {
    min-height: 4vh;
}

.knowUs {
    font-size: 27px;
}

.withLoveSection {
    background-color: #52a7fa;
}

/* ===========================================Media Queiries===================================*/
/*  TIDBIT: Start from the smallest screen and work your way up as a best practice
 *
 * */


/*=== min-width of 360px and breakpoint change to max-width of 412 ===*/
@media (min-width: 360px) and (max-width: 412px) {
    .flexFooter {
        padding: 16px 0;
        margin-left: auto;
        margin-right: auto;
        padding-bottom:0px;
    }


    .flexMediaItems {
       margin: 0px 20px 0px 0px; 
       cursor: not-allowed;
       font-size: 0.5em;


    }

    .header {
        font-size: 1.0em;
        padding: 10px;
    }

    .flexFooterRow {
        padding-right: 2em;
        padding-left: 2em;
    }



}

/*

@media (min-width: 1200px) {
    .container {
        width: ;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}


@media (min-width: 768px) {
    .container {
        width: 750px;
}


*/
