
.cardContainer {
    list-style: none;
    margin-top: 20px;
    padding: 0px;
    align-items: flex-start;
    width: 340px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 20px;
    height: 370px;
}

.cardTopContainer {
    padding-top: 25px;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}

.imgContainer {

}

.imgContainer > img {
    height: 106px;
    width: 106px;
    border: solid 2px darkslategrey;
}

.cardHeaderContainer {
    width: 60%;
    /* display: inline-block; */
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.cardHeaderItemMainText {
    font-size: 20px;
}

.cardHeaderItemSecondaryText {
        font-size: 15px;
}

.cardHeaderItemAltItemText {
    font-size: 13px;
    color: #808080;
}

.cardHeaderItemContainer {
margin-top: 9px;
    text-align: left;
    /* display: inline-block; */
    display: flex;
    justify-content: flex-start;
}

.cardHeaderItemContainer img {
        height: 24px;
    width: 24px;
}

.cardLocation {
        font-size: 12px;
        margin-left:7px;
}

.cardBottomContainer {
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 11px;
}

.cardSectionOne {
    margin-bottom: 10px;
        height: 60px;
}


.cardSectionTwo {
    margin-bottom: 10px;
        height: 60px;
}

.cardSectionTitle {
    font-size: 15px;
    font-weight: bold;
}

.cardSectionText {
    font-size: 15px;
}

.cardActionButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 16px; 
    padding-right: 16px; 
    padding-bottom: 13px;
}

.cardActionButtons > button {
    background-color: white;
    border: none;
    color: #5396E4;
    font-weight: bold;
    font-size: 13px;
    width: 109px;
    height: 51px;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-in;
}

.cardActionButtons > button:hover {
    background-color: #5396E4;
    color:white;
}

.cardActionButtons > button:hover a {
    color:white;
}

.rejectedCard {
    border-top: solid 4px red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.activeCard {
    
    border-top: solid 4px #007AC1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}