/*NOTE:
 *  - Media queries found below
 *  - New code has not been tested using Safari or Edge
 *  - Porting from index to specific component not been tested
 *  - CSS modules id's are unknown to me  at this moment
 *
 *  */

.header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-height: 56px;
    transition: min-height 0.3s;
    background-color: #52A7FA;
    
}

.headerContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.headerItem {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.btn {
    /*position:relative;
    width:100%;*/
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    border-style: solid;
    border-color: #229AD6;
    background-color: white;
    font-size: 1.0em;
    color: #229AD6;
    cursor: pointer;
}

.btnBlue {
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    border-style: solid;
    border-color: #229AD6;
    background-color: white;
    font-size: 1.0em;
    color: white;
    cursor: pointer;
}

.btnBabyBlue {
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    border-style: solid;
    border-color: #3697DB;
    background-color: #3697DB;
    font-size: 1.0em;
    color: white;
    cursor: pointer;
}
.btn:active {
    top: 3px;
    box-shadow: none;
}

.pseudoBtn {
  cursor: pointer;
}

.loginIcon {
  font-size:30px;
}

.input {
    width: 47%;
    text-align: left;
    padding: .5em 1em;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    min-height: 37px;
}

.noDeco {
    text-decoration: none;
}

.logoText {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 27px;
    border: solid white 1px;
    padding: 6px;
    cursor: pointer;
    font-weight: 700;
}

.navItem {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    
}

.univjobsLogo {
    height: 72px;
    margin-right: 1.5em;
    margin-left: 1.5em;
    vertical-align: top;
    margin-top: 12px;
}



/* ===========================================Media Queiries===================================*/
/*  TIDBIT: Best advice for responsive web, start with the small screen and work your way up.
 *
 *
 * */

/*=== min-width of 360px ===*/
@media (min-width: 360px) {
    .header {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        min-height: 23px;
        transition: min-height 0.3s;
        background-color: #52A7FA;
        
    }

    .headerContainer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: nowrap;
    }

    .headerItem {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
    
    .univjobsLogo {
        height: 72px;
        margin-right: 1.5em;
        margin-left: 1.5em;
        vertical-align: top;
        margin-top: 5px;
    }

    .navItem {
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        
    }
    
}
