
.studentSkillsTag {
font-size: 14px;
    background-color: #007bc2;
    padding: 5px;
    margin: 4px;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    margin-left: 0px;
    margin-right: 6px;
    display: inline-block;
    font-weight: 100;
}

.skillsContainer {
    margin-top: 43px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.skillsTagContainer {
      
}

.skillsHeader {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 9px;
}