
.studentProfileModalContainer {
    display: flex;
} 
.studentProfileLeftContainer {
  width: 50%;
} 
.stProfileHeader {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    text-align: left;
} 
.stProfileImageContainer{

} 

.stProfileImageContainer img {
    height: 106px;
    width: 106px;
}
  
.stProfileNameAndSchool {
  padding-left: 15px;
} 
.stProfileName {
      font-size: 20px;
} 
.stProfileProgram {
  font-size: 15px;
} 

.stProfileGrad {
      font-size: 13px;
    color: #808080;
}
.studenProfileRightContainer {
    width: 50%;
    text-align: left;
    /* margin-top: 121px; */
    padding-left: 20px;
    padding-right: 20px;
} 

.itemIcon {
  height: 24px;
  width: 24px;
  margin-right: 10px;

}
.itemIconGPA {
      color: #007AC1;
    font-size: 14px;
    padding-top:1px;
}

.experienceHobbiesEtc {
  text-align: left;
  padding-left: 20px;
  padding-top: 17px;
}
.listItemContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 9px;
    font-size: 15px;
}

.supplementalItemsContainer {
    font-size: 15px;
    height: 243px;
}

.supplementalItemsDetail {
  margin-bottom:10px;
}

.leftsideDetails {
overflow-y: scroll;
    margin-top: 6px;
    padding-right: 13px;
    text-align: left;
    padding-left: 19px;
}

.invite {
  background-color: white;
  border: none;
  color: #5396E4;
  font-weight: bold;
  font-size: 13px;
  width: 109px;
  height: 51px;
  cursor: pointer;
  outline: none;
  transition: 0.1s ease-in;
  position: absolute;
  bottom: 37px;
  right: 37px;
}

.invite:hover {
    background-color: #5396E4;
    color:white;
}