/*AboutPage.css
 *
 *All code related to AboutPage Component
 * */

/*NOTE: A great way to center things*/
.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    /*FIXME: Find a different gif*/
    background-image: url(https://user-images.githubusercontent.com/7959179/28506140-382e9068-6ff7-11e7-953f-76be897772e6.jpg);
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.subHeader {
  text-align: center;
  font-size: 20px;
}


.fontLighter {
    font-weight: lighter;
        font-size: 49px;
}


.marginReduce {
    margin-top: 0px;
    margin-bottom: 0px;
}

.topMarginReduce {
    margin-top: 0px;
    padding-top: 40px;

}

.blackBackGround {
    background-color: #2a2d34 !important;
    color: white !important;
}

.grayBackGround {
    background-color: ##f2f5f7 !important;
}

/*--------------------------How It Works ----------------------------*/
/*Note: This should be at sharedStlyes, 
 * and others will override the background, and justify-content
 * 
 * Try to follow BEM convention 
 *
 * */

.regularFlexContainer {
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    background-color: white;
}


.flexRowContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 85vh; 
    min-width: 85vw; 
}

.flexRowItem { 
    flex: 1 1 auto;
    margin: 0px 5px 0px 5px;
}

.paragraphContainer {
    justify-content: center;
    align-items: center;
    width: 27vw;
    margin: auto;
}

.img {
    height: 40vh;
    width: 25vw;
}

.paragraphItem {
    font-weight: lighter;
    font-size: smaller;
}

/*Section*/
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    /*padding-left: 30px;
    padding-right: 30px;*/
}


/*CARD*/
.card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    width: 360px;
    background-color: #ffffff;
    border: 1px solid #bdbbbb;
    margin: 10px;
    min-height: 400px;

}

/*3-column for cards*/
.threeColumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    width: 100%;
}

/* */
.picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
}

.charlesImg {
    width: 128px;
    height: 125px;
    object-fit: fill;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-image: url(https://user-images.githubusercontent.com/7959179/28594259-55ce1294-715d-11e7-9a44-6d55a3121bac.png);
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

.khalilImg {
    width: 128px;
    height: 125px;
    object-fit: fill;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-image: url(https://user-images.githubusercontent.com/7959179/28594573-74d716da-715e-11e7-9f6e-f70a1f22dfd8.png);
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

.georgeImg {
    width: 128px;
    height: 125px;
    object-fit: fill;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-image: url(https://user-images.githubusercontent.com/7959179/28595026-21686786-7160-11e7-9608-aff2652271ce.png);
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

}

.julioImg {
    width: 128px;
    height: 125px;
    object-fit: fill;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-image: url(https://user-images.githubusercontent.com/7959179/28595430-d7d6270a-7161-11e7-91fa-d172cbef1e60.png);
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}


.Img {
    width: 128px;
    height: 125px;
    object-fit: fill;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-image: url(https://user-images.githubusercontent.com/7959179/28594573-74d716da-715e-11e7-9f6e-f70a1f22dfd8.png);
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}


.personsName {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    color: #4a4a4a;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}

.title {
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    color: #4a4a4a;
    font-family: "Lato", sans-serif;
}

.paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4a4a4a;
    padding: 0 0 15px 0;
    margin: 0;
    font-family: "Lato", sans-serif;

}
