.pageContainer {
  background-color: #DDDEE0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:center;
}

