.pageMainJobCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttonContainers {
   display: flex;
   webkit-flex-direction: row; /* Safari */
   flex-direction: row;
}

