
/*NOTE: Gone from EmpDash
 * Copied to sharedStyles.css*/
.pageHeaderSection {

}

/*NOTE: Gone from EmpDash
 *
 * Copied to sharedStyles.css*/
.pageTitle {

}


/*Copied to sharedStyles.css*/
.title {
  font-size:37px;
}


.input {
  composes: input from 'sharedStyles/styles.css';
}

.campusDropdown {
  flex-grow: 2;
}

.gradDateDropdown {
  flex-grow: 2;
}

.filtersDivider {
  flex-grow: 10;
}

