.pageContainer {
	width: 1000px;
	text-align: center;
	margin: auto;
	margin-top: 4%;
	margin-bottom: 3%;
}


.cardContainer {
	list-style: none;
	margin: 0px;
	padding: 0px;
	align-items: flex-start;

	/* For Safari */
	display: -webkit-flex;
	-webkit-flex-direction: row;
	
	/* Chrome */
	display: flex;
	flex-direction: row;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 30%;
	border-radius: 5px;
}

