

.cancelBtn {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #7c8890;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0 auto;
    width: 121px;
    margin-left: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-out;
}

.applyButton {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 0;
    background: #61b8f5;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    width: 121px;
    margin-left: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-out;
}

.cancelBtn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.applyButton:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.applyButtonsContainer {
    position: absolute;
    bottom: 31px;
    margin-left: 16px;
}


/*
new styles for student dashboard filter
*/

.filterContainerNoOverflowHidden {

}

.filtersContainer {
    display: flex;
    flex-direction: row;
    border-top: solid 1px #414a51;
    /* color: black; */
    padding-top: 25px;
}
.filterJobTypeContainer {
width: 30%;
}
.filterTitle {
font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 7px
}
.filterJobTypeColumnContainer {
    display: flex;
    flex-direction: row;
}
.filterJobTypeColumn {
    width: 50%;
    text-align: left;
    padding-left: 20px;
}
.filterKeywordAndCityContainer {
width: 40%;
}
.filterKeyWordContainer {
margin-bottom: 14px;
    display: inline-block;
}
.filterButtonsContainer {
margin-top: 22px;
}
.searchButton {
    background-color: #5396e5;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 109px;
    height: 51px;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-in;
    border-radius: 5px;
    border: solid 2px white;
    margin-right: 18px;
}
.cancelButton {
    background-color: #414a51;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 109px;
    height: 51px;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-in;
    border-radius: 5px;
    border: solid 2px #707980;
    margin-right: 18px;
}

.filterInputFieldContainer {
        display: flex;
    padding-left: 20px;
}

.filterInputField {
        text-align: left;
    padding: .5em 1em;
    /* margin: 8px; */
    /* display: inline-block; */
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    /* width: 88%; */
    width: 284px;
}

.filterContainerMain {
    transition: 0.2s ease-out;
    height: 283px;
    background-color: #c6c6c6;
}

.filterContainerMainHidden {
    overflow: hidden;
    height: 0;
    transition: 0.2s ease-out;
    background-color: #c6c6c6;
}

.filterJobsOpenButton {
    font-weight: bold;
    color: #222;
    cursor: pointer;
    position: relative;
    top: -25px;
}

.comboBoxContainer {
width: 30%;
text-align: left;
padding-left:7px;
}

.comboBoxTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.comboBox {
    composes: comboBox from 'sharedStyles/sharedComponentStyles.css';
    border: 1px solid #8b8b8b;
    border-radius: 4px;
}

.companyInfoSidebarWrapper {

}

.studentDashboardComponentWrapper {

}

/* MEDIA QUERIES */

@media (max-width: 400px) {
    
   /*
    * When we're in the mobile view, the company info
    * sidebar invisible button is always covering the entire screen.
    * This obviously isn't good for when we need to click other buttons
    * because it overlaps ontop of each button and none of them will 
    * work because we'll always be clicking this.
    *
    * We needed to do a little logic here to make it so that this doesn't 
    * ALWAYS cover everything.
    */
    .studentDashboardComponentWrapper .companyInfoSidebarWrapper {
        display: none !important;
        overflow: hidden !important;
    }

}